<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <nav>
            <!-- Dropdown Structure -->
            <ul id="dropdown1" class="dropdown-content">
                <li><a href="{{ path('restaurante',{'sede':'valencia'}) }}">Valencia</a></li>
                <li><a href="{{ path('restaurante',{'sede':'barcelona'}) }}">Barcelona</a></li>
                <li class="divider"></li>
                <li><a href="{{ path('restaurante',{'sede':'madrid1'}) }}">Madrid 1</a></li>
                <li><a href="{{ path('restaurante',{'sede':'madrid2'}) }}">Madrid 1</a></li>
            </ul>
            <div class="nav-wrapper">
            <a href="{{ path('homepage') }}" class="brand-logo"><img src="{{ asset('img/logo.png') }}" alt="Franquicias Paco"/></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a class="dropdown-trigger" href="{{ path('restaurante',{'sede':'todas'}) }}" data-target="dropdown1">Restaurantes<i class="material-icons right">arrow_drop_down</i></a></li>
                <li><a href="{{ path('franquicias') }}">Franquicias</a></li>
            </ul>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="{{ path('logout') }}">Logout</a></li>
                </ul>
            {% endif %}
            </div>
        </nav>
        <div class="container">
        {% block body %}{% endblock %}
        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script src="{{ asset('js/app.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
