{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
      <div class="col s12">Nuevo Restaurante</div>
    </div>
    
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
