{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
      <div class="col s12">Registro</div>
      {{ form_start(form) }}
          {{ form_row(form.username) }}
          {{ form_row(form.plainPassword.first) }}
          {{ form_row(form.plainPassword.second) }}

          <button type="submit">Register!</button>
      {{ form_end(form) }}
    </div>
{% endblock %}
