{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
      <div class="col s12">Home de franquicias</div>
    </div>
    <ul>
        {% for restaurante in restaurantes %}
          <li>{{ restaurante.nombre}}</li>
        {% endfor %}
    </ul>
{% endblock %}
