{% extends 'base.html.twig' %}

{% block body %}
    <h1>Platos list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for plato in platos %}
            <tr>
                <td><a href="{{ path('plato_show', { 'id': plato.id }) }}">{{ plato.id }}</a></td>
                <td>{{ plato.nombre }}</td>
                <td>{{ plato.descripcion }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('plato_show', { 'id': plato.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('plato_edit', { 'id': plato.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('plato_new') }}">Create a new plato</a>
        </li>
    </ul>
{% endblock %}
